/* Estilos gerais do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Cor de fundo suave */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Container do formulário */
  form {
    background-color: #ffffff; /* Fundo branco para o formulário */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }
  
  /* Estilo para os labels */
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  /* Estilo para os inputs e selects */
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
  }
  
  input[type="number"]:focus,
  select:focus {
    border-color: #66afe9;
    outline: none;
  }
  
  /* Estilo para o botão */
  button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50; /* Verde agradável */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }